<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        h1 {
          text-align: center;
          font-size: 50px;
        }
    table, th, td {
        table-layout: fixed;
      border: 0.5px solid black;
      border-collapse: collapse;
      text-align: Center;
      font-size: 30px;
    }
    .button {
      border: solid;
      color: blue;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      right: 70%;
      width: 500px;
      font-size: 16px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
    }
    .button1 {
      background-color: white; 
      color: black; 
      border: 2px solid black;
    }
    
    .button1:hover {
      background-color: #4CAF50;
      color: white;
    }
    .button2:hover {
      background-color: #008CBA;
      color: white;
      align:center;
    }
    
    .button2 {
      background-color: white; 
      color: black; 
      border: 2px solid black;
    }
      /* button{
        right: 50%;
       margin: 0;
       position: absolute;
       
      } */
    
    table.center {
      margin-left: auto; 
      margin-right: auto;
    
    }
    table{
        height: 50%;
        width: 50%;
    }
    .vertical-center {
      margin: 0;
      top: 87%;
      position: absolute;
      right: 35%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    </style>
    </head>
    <header>
        <%- include("./header",{status:status,user:user}); %>
    </header>
    <body>
    <br>
    <br>
    
    <h1>  Profile </h1>
    <table class="center">
        <tr>
            <td>USER TYPE</td>
            <td><%=user.userType%></td>
           
          </tr>
          <tr>
            <td> NAME</td>
            <td><%=user.name%></td>
          </tr>
          <tr>
              <td> EMAIL</td>
              <td><%=user.email%></td>
            </tr>
            <% if(user.userType=="individual"){%>
            <tr>
              <td> ADDRESS</td>
              <td><%=user.residence%></td>
            </tr>
            <tr>
              <td> HIGHEST QUALIFICATIONS</td>
              <td><%=user.qualification%></td>
            </tr>
            <% } else{%>
                <tr>
                    <td> ADDRESS</td>
                    <td><%=user.address%></td>
                  </tr>
                  <% } %>
            <tr>
              <td> MOBILE NUMBER</td>
              <td><%=user.mobile%></td>
            </tr>
      
        </table>
        <br>
        
       <br>
       <br>
       <br>
         <div class = "vertical-center">
            <button class="button button1"><a class="nav-link active" aria-current="page" href="/logout">Logout</a></button>
            <br>
            <button class="button button2"><a class="nav-link active" aria-current="page" href="/forgotPassword">Reset Password</a></button>
          </div>
    
    </body>
    <footer>
        <%- include("./footer")%>
    </footer>
    